<!DOCTYPE html>
<html>
<head>
	<title>About Ashley</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/styles.css" type="text/css" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Open+Sans+Condensed:300" type="text/css" rel="stylesheet">

	<!-- Nav Bar !-->

	<div id="sub-navbar">
	  <a class="active" href="/index.html">About</a>
	  <a href="/work.html">Work</a>
	  <a href="/blog.html">Blog</a>
	  <a href="/contact.html">Contact</a>
	</div>
	
	{{content}}

	<div class=row>

	<div id="content" class="col-6 links">
		<a href="https://plus.google.com/u/0/104863879536390541053">Google+</a>
		<a href="https://github.com/AshleyLauren">GitHub</a>
		<a href="https://stackexchange.com/users/11602883/ashley">Stack Overflow</a>
		<a href="https://www.linkedin.com/in/ashleygrigsby">LinkedIn</a>
	</div>
	</div>


</body>
</html>