---
layout: default
title:
date: <!-- 2015-11-17 16:16:01 -0600 -->
categories: <!-- can be specified as a YAML list or a space-separated string. -->
---

<!-- To add new posts, simply add a file in the `_posts` directory that follows the convention `YYYY-MM-DD-name-of-post.ext` and includes the necessary front matter. Take a look at the source for this post to get an idea about how it works. -->

<head>
	<title>{{ post.title }}</title>
</head>
<body class="post">

{{ content }}

</body>
</html>
  